/*Mobile*/
@media(max-width:768px) {
    .container{
        height: 100vh;
    }
    .container>.body{
        width: 50%;
        margin: auto;
    }
    #zero, #clear{
        width: 20%;
    }
    .container>.body>.screen{
        width: 68%;
        margin:10px auto;
    }
}

/*Tab*/
@media(min-width:769px) and (max-width:1200px){
    .container{
        height: 100vh;
    }
    .container>.body{
        width: 60%;
        margin: auto;
    }
    #zero, #clear{
        width: 45%;
    }
    .container>.body>.screen{
        width: 90%;
    }
}