/* MOBILE */
@media(max-width:768px){
    header{
        background-color: rgb(0, 255, 17);
    }
    header>nav>ul>li{
        display: block;
    }
    header>nav>ul{
        float: none;
    }
    header>nav{
        padding: 20px;
        text-align: center;
    }
    .banner1{
        background-color: gray;
    }
    .banner2{
        background-image: url(../images/mobile.jpg);
    }
    .banner3{
        background: linear-gradient(orange, blue ,green);
    }

    /* P8.HTML */

    .bgvideo{
        display: none;
    }
    .banner7>.bgvideo1{
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -1;
    }

}

/* TAB */
@media(min-width:769px) and (max-width:1024px){
    header{
        background-color: rgb(255, 0, 174);
    }
    header>nav>ul{
        float: none;
    }
    header>nav{
        padding: 20px;
        text-align: center;
    }
    .banner1{
        background-color: skyblue;
    }
    .banner2{
        background-image: url(../images/tab.jpg);
    }
    .banner3{
        background: linear-gradient(50deg,green, orange, blue);
    }

    /* P8.html */
    
    .bgvideo{
        display: none;
    }
    .banner7>.bgvideo2{
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        height: 100vh;
        top: 0;
        z-index: -1;
    }
}