/* MOBILE */
@media(max-width:768px){
    .banner{
        background: linear-gradient(rgba(55,57,69,0.8),rgba(55,57,69,0.8)), url(../images/mbl.jpg) no-repeat center;
    }
    .banner>header>nav>ul>li{
        display: block;
    }
    .banner>header>nav>ul{
        float: none;
    }
    .banner>header>nav{
        text-align: center;
    }
    .banner>section{
        width: 100%;
    }
    .container{
        flex-flow: column;
    }
    .contactUs>.img{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #sub{
        width: 93%;
    }
    #name, #email{
        width: 85%;
    }
    .company{
        flex-flow: row wrap;
    }
}

/* TABLET */
@media(min-width:769px) and (max-width:1200px) {
    .banner{
        background: linear-gradient(rgba(55,57,69,0.8),rgba(55,57,69,0.8)), url(../images/tab.jpg) no-repeat center;
    }
    .banner>header>nav>ul{
        float: none;
    }
    .banner>header>nav{
        text-align: center;
    }
    .banner>section{
        width: 70%;
    }
    .container{
        flex-flow: column;
    }
    .contactUs>.img{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #sub{
        width: 95%;
    }
    #name, #email{
        width: 90%;
    }
    .company{
        flex-flow: row wrap;
    }
}