.title{
    background-color: yellow;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
}
.title>h1{
    color: rgb(255, 136, 0);
}
.title>p{
    color: #fff;
    font-size: 20px;
}
/* COMMON CLASS */
.common{
    background-color: #ddd;
    padding: 30px;
    margin: 30px;
    border: 3px solid #ccc;
}
.cssOutline{
    outline: 3px solid #000;
    border-radius: 10px;
}

/* p3.HTML */
.cssOverflow>p{
    text-align: justify;
    line-height: 2;
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    height: 300px;
    overflow: auto;
}
.cssOverflow>p:last-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* p4.HTML */
.cssWhiteSpace{
    white-space: normal; /*Check All the White-Space properties*/
}